@charset "UTF-8";

.gdm-wrapper {
  display: flex;
}

.gdm-nav,
.gdm-view {
  height: 100vh;
}

.gdm-nav {
  flex: 1 0 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

.gdm-view {
  flex: 2 1 66%;
}



body {
  font-family: $font-family-text;
  font-weight: 300;
  font-size: 16px;
  background-color: $dark;
  color: $white;
}

h1 {
  font-family: $font-family-base;
  color: $primary;
  font-size: 41px;
  font-weight: 600;
}

h2 {
  font-family: $font-family-base;
  color: $primary;
  font-size: 32px;
  font-weight: 600;
}

h3, h4, h5, h6, h7 {
  font-family: $font-family-base;
  color: $white;
  font-size: 25px;
  font-weight: 400;
}

strong {
  font-weight: 500;
  color: $primary;
}

img {
  width: 1000px;
  margin-left: -150px;
} //afgesteld op ideaboard

.style-tile {
  width: 700px;
  margin-left: 0px;
  margin-bottom: 150px;
} //afbeeldingen style tiles

.sitemap {
  margin-left: -60px;
}
.sitemap-website {
  width: 400px;
  margin-left: 0px;
}
.paper_prototype {
  width: 700px;
  margin-left: 0px;
}
.wireflow-smartphone {
  width: 1175px;
  margin-left: -200px;
  margin-top: -100px;
}
.tests {
  width: 300px;
  margin-left: 0px;
  margin-bottom: 20px;
}
.wireframe-website {
  width: 400px;
  margin-left: 0px;
}
.knoppen {
  width: 250px;
  margin-left: 0px;
  margin-top: 20px;
}





// tabel journey map
.table li {
  list-style-type: none;
  margin-left: -40px;
  font-size: 14px;
  margin-bottom: 10px;
}
.table {
  width: 800px;
}


.link {
  font-family: $font-family-text;
  font-weight: 800;
  color: white;
  font-size: 18px;
  &:hover {
    text-decoration: none;
    color: $primary;
  }
}