@charset "UTF-8";

.gdm-wrapper {
  display: flex;
}

.gdm-nav,
.gdm-view {
  height: 100vh;
}

.gdm-nav {
  flex: 1 0 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

.gdm-view {
  flex: 2 1 66%;
}



body {
  font-family: $font-family-text;
  font-weight: 400;
  background-color: $dark;
  color: $white;
}

h1, h2, h3, h4, h5, h6, h7 {
  font-family: $font-family-base;
  color: $primary;
}